:root {
  --foreground-rgb: 0, 0, 0;
  --white: #ffffff;
  --primary: #1c3545;
  --info-text: #007fa7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

header a {
  color: var(--white);
}

a {
  color: var(--info-text);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

header {
  width: 100vw;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-button {
  height: inherit;
  margin: 0;
}

.chain-info {
  width: 100vw;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5vw;
  padding-inline: 5vw;
}

.chain-info p {
  font-size: 0.8rem;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.title {
  max-width: 95vw;
  text-align: left;
}

.info-box {
  padding-inline: 40px;
  padding-block: 1rem;
  max-width: 95vw;
  overflow: scroll;
}

.success {
  margin-inline: 20px;
  padding-inline: 10px;
  border-radius: 10px;
  color: white;
  background-color: green;
  border: 1px solid rgb(4, 65, 4);
}

.success-text {
  color: green;
  font-weight: bold;
}

.copy-icon-container {
  padding: 0;
  aspect-ratio: 1;
  border-radius: 50%;
}
.copy-icon {
  margin: 0;
  color: black;
}

.copy-icon-container:hover > .copy-icon,
.copy-icon-container:active > .copy-icon {
  color: #007fa7;
}

.btn-small {
  min-width: fit-content;
}

.content {
  padding: 10px;
  margin-block: 3vh 7vh;
  width: fit-content;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.block-container,
.block-skeleton {
  max-width: 95vw;
  margin-top: 5px;
  padding: 8px 10px;
  overflow: hidden;
}
.logo {
  position: absolute;
  top: 0;
  left: 20px;
  display: none;
}

@media (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 2vw;
  }
}

.mobile-hidden {
  visibility: hidden;
  height: 1px;
}

@media (min-width: 576px) {
  .mobile-hidden {
    visibility: visible;
    height: auto;
  }
}

.MuiTextField-root {
  width: 100%;
  padding: 0;
}

.tabpanel-content {
  display: flex;
  padding-block: 5px;
  flex-direction: column;
  align-items: flex;
  width: clamp(320px, 75vw, 1500px);
  min-height: 400px;
  max-height: 500px;
  overflow: scroll;
}

.searchNfts,
.searchTokens {
  min-width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.textfield-small {
  max-width: 350px;
}
.display-nfts {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.display-tokens {
  width: auto;
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.display-tokens .table-data {
  max-width: fit-content;
}
.display-tokens .symbol {
  max-width: 5em;
  overflow: clip;
  white-space: nowrap;
}
.nft {
  min-width: 200px;
}

.nft-name {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.nft-details,
.balance-description {
  font-size: 0.9rem;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.table-header {
  font-weight: bold;
  color: var(--primary);
}
.table-data {
  max-width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

.balance {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.account-info {
  padding: 20px;
  background-color: rgba(0, 127, 167, 0.1);
  border-radius: 5%;
}

.code {
  height: 100%;
}
